{% extends 'base.html' %}

{%block title%}
    Погода
{%endblock%}
{%block content%}
    <section class="mt-5 wow fadeIn">
        <div  class="col-md-6 mb-4">
            <form class="text-center border border-light p-5" action="/add_message" method="post" >
                <div  class="col-md-6 mb-4">

                    <ul class="list-group">
                      {%for tests in test %}
                        <li class="list-group-item">{{tests}}</li>

                        {%endfor%}
                    </ul>
                </div>
                <h5>Данные о погоде в городе</h5>
                <input type="text" name="city" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Введите название города:">
                <input type="date" name="date" id="defaultdate" class="form-control mb-4" placeholder="Введите дату:">
                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Отправить</button>
            </form>
        </div>
      </section>
      <section class="mt-5 wow fadeIn">

        <!--Grid row-->
        <div  class="col-md-6 mb-4">

          <ul class="list-group">


              {%for weather in about_weather %}
                <li class="list-group-item">{{weather}}</li>

                {%endfor%}





            </ul>
        </div>
          <div  class="col-md-6 mb-4">

          <ul class="list-group">


                              <li class="list-group-item">{{about_weather1}}</li>




            </ul>
        </div>
        <!--Grid row-->

      </section>

         <hr class="my-5">
      {%endblock%}